<div class="d-flex justify-content-center align-items-center flex-column w-100 h-100">
    <div class="d-flex justify-content-center align-items-center mt-2 flex-column w-100 h-50">
        <h2 class="mb-2">Agregar nuevo producto</h2>
        <div class="w-75">
            <form action="/realtimeproducts" method="POST" id="form-products" class="d-flex justify-content-center align-items-center flex-column mb-5">
                <label for="title">Producto:</label>
                <input type="text" name="title"  id="title" class="w-50" required>
                <label for="title">Descripcion:</label>
                <input type="text" name="description" id="description" class="w-50" required>
                <label for="price">Precio:</label>
                <input type="text" name="price" id="price" class="w-50" required>
                <label for="thumbnail">Url de la imagen:</label>
                <input type="text" name="thumbnail" id="thumbnail" class="w-50" required>
                <label for="price">Codigo:</label>
                <input type="text" name="code" id="code" class="w-50" required>
                <label for="price">Stock:</label>
                <input type="text" name="stock" id="stock" class="w-50" required>
                <input type="submit" id="agregar-producto" class="btn btn-light mt-3" value="Agregar producto">
            </form>
        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center flex-column w-100 h-50">
        <h2 class="mb-4">Vista de productos</h2>
            <table class="table table-hover border w-75">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Codigo</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="tabla">
            </tbody>
            </table>
    </div>
</div> 

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>